/* Write your CSS code here */
body{
    margin: 0;
    box-sizing: border-box;
    width: 100vw;

}
.CryptocurrencyTracker-container{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: 100vw;

}
.CryptocurrencyTracker-title{
    color: #00e7ff;
}
.cryptocurrency-img{
    height: 12rem;
}
.cryptoItem-container{
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
nav{
    height: 3rem;
    width: 100vw;
    background-color: #092e33;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 4rem;
    padding-right: 4rem;
    justify-content: space-between;

}
.usd-euro{
    display: flex;
    gap: 4rem;
}